    .navbar {
        width: 790px;
        height: 60px;
        /* Line 1 */
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: auto;
        border-bottom: 1px solid #e2e2e2;
        transform: rotate(0.14deg);
        &__logo {
            /* Rectangle 3 */
            position: absolute;
            width: 150px;
            height: 30px;
            left: 15px;
            top: 15px;
            background: #C4C4C4;
        }
        &__right {
            position: relative;
            height: 60px;
            width: 100%;
            float: right;
            & a {
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
            &--register {
                /* Register */
                position: absolute;
                width: 52px;
                height: 16px;
                left: 715px;
                top: 23px;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #FF0000;
                z-index: 1;
            }
            &--login {
                /* Login */
                position: absolute;
                width: 35px;
                height: 16px;
                left: 658px;
                top: 23px;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #FFFFFF;
            }
        }
    }