* {
  /* %100 %100  contain*/
}

body {
  background: url("./images/alesia-kazantceva-XLm6-fPwK5Q-unsplash 2.png"), rgba(150, 145, 145, 0.79);
  background-blend-mode: multiply;
  -moz-background-size: 100%;
  /* Firefox 3.6 */
  -o-background-size: 100%;
  /* Opera 9.5 */
  -webkit-background-size: 100%;
  /* Safari 3.0, Chrome */
  background-size: 100%;
  /* w3c, Firefox 4.0, ie9  */
  color: #E2E2E2;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 800px) {
  body {
    background: url("./images/alesia-kazantceva-XLm6-fPwK5Q-unsplash 1.png"), rgba(150, 145, 145, 0.79);
    background-blend-mode: multiply;
    -moz-background-size: 100% auto;
    /* Firefox 3.6 */
    -o-background-size: 100% auto;
    /* Opera 9.5 */
    -webkit-background-size: 100% auto;
    /* Safari 3.0, Chrome */
    background-size: 100% auto;
    /* w3c, Firefox 4.0, ie9  */
    color: #E2E2E2;
    background-repeat: no-repeat;
    height: 80vh;
    clear: both;
  }
}