.navbar {
  width: 100%;
  height: 60px;
  /* Line 1 */
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: auto;
  border-bottom: 1px solid #e2e2e2;
  transform: rotate(0.14deg);
}
.navbar__logo {
  /* Rectangle 3 */
  position: absolute;
  width: 150px;
  height: 30px;
  left: 15px;
  top: 15px;
  background: #C4C4C4;
}
.navbar__right {
  position: relative;
  height: 60px;
  width: 100%;
  float: right;
}
.navbar__right a {
  text-decoration: none;
}
.navbar__right a:hover {
  text-decoration: underline;
}
.navbar__right--register {
  /* Register */
  position: absolute;
  width: 52px;
  height: 16px;
  right: 34px;
  top: 23px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FF0000;
  z-index: 1;
}
.navbar__right--login {
  /* Login */
  position: absolute;
  width: 35px;
  height: 16px;
  right: 98px;
  top: 23px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}